[data]

# Setting this to True will start showing you the processed image
debug_mode = False

# This is is the location where tesseract is installed
tesseract_location = C:\\Program Files\\Tesseract-OCR\\tesseract.exe

# Name of the image that is taken for analysis
image_name = sc2_test.png

# Time between injecting each base in 1 cycle
inject_interval = .5

# The control group assigned to your hotkey
hatchery_hotkey = 8
# The control group assigned to your inject queens
queen_hotkey = 9
# The keyboard shortcut for injects. Set this if you are using a custom key (default : v)
queen_injcet_hotkey = v
# The keyboard shortcut for cycling through bases. Set this if you are using a custom key (default : backspace)
cycle_base_hotkey = `

# These values may need to be updated based on your screen size, resolution & game resolution.
# The x-axis value of the top left corner of where control group 0 shows up on your screen
x_start = 555
# The x-axis distance between the top left corners of any 2 side by side control groups
x_offset = 68
# The y-axis value of the top left corner of where control group 0 shows up on your screen
y_axis = 830
# screenshot dimensions
scrn_height = 30
scrn_width = 20

# WARNING: Setting this to true will auto inject your bases constantly. It will not stop once the bases are injected.
# There is no real way to stop the process.
# There will be a beep sound before a cycle begins
# To stop, move your mouse to a corner of the screen immediately after the beep sound and pray
# If the program continues to execute, exit from the game and it should stop. Or alt tab out of the game and it should stop.
auto_run_continuous = False
# Interval between injects when auto run continuous is enabled
auto_run_inject_interval = 30